@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-rgb: 255, 255, 255;
    --backgroundt-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
}

body > * {
  padding-left: 120px;
  padding-right: 120px;
}

@media screen and (max-width: 767px) {
  body > * {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 479px) {
  body > * {
    padding-left: 0px;
    padding-right: 0px;
  }
}

main {
  background: lightgray;
  flex: auto;
  display: flex;
  flex-direction: column;
}

#content {
  flex: auto;
  display: flex;
  flex-direction: column;
  background: rgb(var(--background-rgb));
}